.App {
  width: 240px;
  margin: 2rem auto;
  border: 2px solid #ccc;
  background: #eee;

  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(6, 60px);
}

button {
  width: 60px;
  height: 60px;
}

.Screen {
  grid-column: 1 / 5;
  grid-row-start: 1;
}
.Memory {
  grid-column-start: 2;
  grid-row-start: 2;
}
.Dial {
  grid-column: 1 / 4;
  grid-row-start: 3;
}
.Result {
  grid-column-start: 3;
  grid-row-start: 6;
}
